header{
    color: black;
    font-size: 00.8em;
}
h1{
    color: maroon;
    font-size: medium;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}
.tiledBackground {
    background-image: url("../Images/background.jpg");
    background-size: 1000px; 
}
#nav_menu{
    border-top: 1px solid rgb(21, 20, 20);
    background-color: #202849;
} 
#nav_menu a{ 
    background-color: white;
}    
nav{
    padding: 5px 0;
}
section, aside, h2, p {
    margin: 0;
    padding: 0;
}

section, aside ul {
    margin-top: 0;
    margin-bottom: 1.5em; 
}
section, aside li {
   
    padding-bottom: .35em; 
}
p {
    padding-bottom: .5em; 
}

section h2 {
    color: maroon;
    font-size: 100%;
    margin-top: 10px;
}

aside ul{
    padding-left: 15px;
}
aside h2 {
    color: maroon;
    font-size: 100%;
}
aside h3 {
    color: maroon;
    font-size: 100%;
}

nav li{
    list-style-type: none;
}
nav a{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

footer{
    background-color: #202849;
    padding: 10px 0;
    text-align: center;
    clear: both;
    color: white;
    font-size: 0.8em;
}
header nav a:hover{
    background-color:yellowgreen;
    color: black;
}
header ul li a{
    text-decoration: none;
    color: rgb(10, 0, 0);
    padding: 5px 20px;
    border: 2px solid rgb(10, 0, 0);
    font-size: 20px;
    line-height: 60px;
    transition: 0.6s ease;
}
main nav li{
    list-style-type: none;
}
main nav a:hover{
    background-color:yellowgreen;
    color: black;
}
main nav a{
    font-size: 15px;
    color: white;   
    background-color:#202849;     
}
fieldset{
    text-align: center;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}  
#button{
    margin-top: 10px;
    margin-bottom: 40px;
}

.main ul {
    margin-left: 25px;
}

.logo1 {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.main ul li a {
    text-decoration: none;
    color: rgb(10, 0, 0);
    padding: 5px 20px;
    border: 2px solid rgb(10, 0, 0);
    font-size: 20px;
    line-height: 60px;
    transition: 0.6s ease;
}

.main ul li a:hover {
    background-color: rgb(10, 0, 0);
    color: rgb(218, 128, 12);
}

.main nav ul ul {
    position: absolute;
    top: 60px;
    display: none;
}

.main nav ul li:hover>ul {
    display: block;
}

.main nav ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

@media screen and (min-width:750px){

h1{
    font-size: x-large;
    padding-top: 60px;
}    

nav ul{
    display: flex;
    justify-content: space-around;
}
body{
    width: 1000px;
    margin: 15px auto;
    border: 1px solid black;
 
}
section {
    width: 535px;
    margin-left: 20px;
    padding-right: 25px;
    float: right; 
}
aside {
    width: 350px;
    float: right;
    padding-left: 20px;
    margin-right: 20px; 
}

main nav a{
    padding: 4px;
} 
footer span{
    margin-left: 20px;
    padding-right: 25px;
    float: left;
}
footer span1{
    margin-left: 20px;
    padding-right: 25px;
    float: right;
}
.main ul li {
    display: inline-block;
}
.main ul {
    margin-left: 25px;
    float: left;
    list-style-type: none;
    margin-top: 25px;
}
.logo1 {
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}



}
